<section class="sign-up-form">
  <h1>Sign Up</h1>

  <% if @user.errors.any? %>
    <div class="error-block">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this from creating:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for @user do |f| %>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit 'Sign Up' %>
  <% end %>
</section>