<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700|Roboto+Condensed" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="main-nav">
        <ul>
          <li><%= link_to("Main page", root_path) %></li>
          <li><%= link_to("Add New Product", new_product_path) %></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Welcome</h1>
      <% if current_user %>
        Hello <%= current_user %>! <br>
        <%= link_to 'Log Out', sessions_path, method: :delete %>
      <% else %>
        <p><%= link_to 'Sign Up', new_users_path %></p>
        <p><%= link_to 'Log In', new_sessions_path %></p>
      <% end %>

     <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
     <% end %>
     <% if flash[:alert] %>
       <p class="alert"><%= flash[:alert] %></p>
     <% end %>

      <%= yield %>
    </main>

    <footer>
      <p>
        Bitmaker Labs &copy; 2018 |
        <a href="https://github.com/ilyana19/week6-aug15-rainforest" target="_blank">See GitHub Repo</a>
      </p>
    </footer>
  </body>
</html>
